# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Google Cloud
credentials.json
client_secret_318862727100-6cbt4vq5cj4rki6msbh6te4ett46iu8o.apps.googleusercontent.com.json
.streamlit/secrets.toml

# Auth
utils/auth_config.yaml

# Screenshots
screenshots/